@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&family=Poppins&display=swap');
@keyframes menssagem {
  from {opacity: 60%;}
  to {opacity: 0%;}
}

*{
    margin:0;
    padding:0;
}
body{
    background-color: #ebebeb;
}
.navbar{
    height: 4rem;
    width: 95%;
    align-items: flex-start;
    margin: 1rem auto;
    background-color: #006174;
    border-radius: 11px;
}
.cards{
    display: inline-block;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 100%;
    column-gap: 10px;
    margin: 20px;
}

.card{
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  height: 151;
  width: 300px;
  background-color: #006174;
  border-radius: 13px;
  border: solid black 1px;
}

.dashboard{
  column-count: 2;
}
.graph{
    background-color: #fff;
    height: 405px;
    width: 1144px;
    border: solid #006174 2px ;
    border-radius: 52px;
    margin: 1px auto;
    margin-bottom: 3em;
}
.card_menssage{
  position: fixed;
  width: 100%;
  bottom: 20px;
  text-align: center;
}
.sucess {
  opacity: 0;
  animation-name: menssagem;
  animation-duration: 5s;
  right: 0.2em;
  font-size: 20px;
  bottom: 20px;
  color: #fff;
  min-height: 30px;
  min-width: 100px;
  max-width: 180px;
  padding: 2px;
  border-radius: 10px;
  background-color: #22f13e;
}
.error {
  opacity: 0;
  animation-name: menssagem;
  animation-duration: 5s;
  right: 0.2em;
  text-align: center;
  font-size: 20px;
  bottom: 20px;
  color: #fff;
  min-height: 30px;
  min-width: 100px;
  max-width: 180px;
  padding: 2px;
  border-radius: 10px;
  background-color: #f12222;
}
.btn_dropdown{
  right: 0.2em;
  text-align: center;
  float: right;
  font-size: 4rem;
  bottom: 43.5px;
  font-weight: bolder;
  color: #fff;
  position: fixed;
  height: 69px;
  width: 69px;
  border-radius: 50%;
  background-color: #006174;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #006174;
    padding: 0px;
    height: 30px;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    transition-delay: 2000ms;
}

.dropdown_menu:hover .dropdown_content{
    display: block;
}

.menu_content {
    left: 17px;
    text-align: center;
    display: none;
    position: absolute;
    background-color: #006174;
    padding: 0px;
    border-radius: 10px;
    height: 100%;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 16px;
    z-index: 1;
}

.menu_Button{
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  width: 170px;
  height: 50px;
  border:0;
  margin: 5px;
  color: white;
  background-color: #386c7d;
}

.menu_Button:hover{
  background-color: #6d9ead;
}

.colunm-2{
    display: block;
    text-align: center;
    height: 100%;
    column-count: 1;
    padding-left: 12px;
}

.menu_options{
  display: block;
  height: 100%;
  min-width: 150px;
  position: relative;
  text-align: left;
}

.icon_menu{
    border-radius: 10px;
    margin: 0%;
    background-image:linear-gradient(
      rgba(0,97,116,0.4),rgba(0,97,116,0.4)
    ), 
    url('../public/index_back.svg');
    background-size: cover;
    background-repeat: no-repeat;
    
    position: relative;
    display: inline-block;
    padding: 10px;
    height: 160px;
    width: 180px;
}

.return{
    border-radius: 10px;
    text-align: right;
    height: 50px;
    width: 120px;
    top: 8px;
    z-index: none;
    background-color: transparent;
}

.return_icon{
  border-radius: 10px;
  background-color: #006174;
}
.return_icon:hover{
  background-color: #6d9ead;
}

.bg-none{
    background-color: transparent;
}

#divBusca{
    background-color:#fff;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}

.navBody{
  width: 100%;
  display: inline;
}
.menu{
  border:0;
  cursor: pointer;
  background-color:transparent;
  position: relative;
  float: left;
  top: 6px;
  width: 60px;
  opacity: 1;
}

.menu:hover{
  opacity: 0.7;
}
h3{
  color: #fff;
  font-family: 'Aldrich';
  padding-top:1.2em;
  margin-right: 30%;
  float: left;
  width: 5%;
}
#divBusca{
  margin-top: 1em;
  height: 2em;
  float: left;
  width: 23%;
}
.user{
  padding: 10px;
  margin: 0.4em 1em 0 0;
  float: right;
  width: 50px;
}
#btnBusca{
  border:none;
  float:right;
  width: 10%;
  font-weight:bold;
}

.users{
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.users td{
  padding-left: 20px;
}

.logOn{
  position: relative;
}

.verTodos{
  cursor: pointer;
  float: right;
  margin-right: 15px;
  margin-top: -7%;
  height: 2.2em;
  width: 10em;
  padding: 0.5em auto;
  border-radius:13px;
  border: solid 1px black;
  color: #006174;
  font-size: 12px;
  background-color: #cecece;
  font-family: 'Poppins';
  font-weight: bolder;
}

.verTodos:hover{
  background-color: #e7e5e5;
}

.cardTitle{
  margin-top:1em;
  font-family: 'Be Vietnam';
  margin-left: 1em;
  font-size: 14px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 0;
}
.counter{
  color:#fff;
  margin-top:-25px;
  font-weight: lighter;
  margin-left: 25px;
  text-align: left;
  font-size: 100px;
  margin-right: 0;
  font-family: 'Be Vietnam';
}
.imgDesc{
  width: 0.5em;
  margin-left: -23px;
}

.full-width{
  width: 100%;
}

.b {
  border-radius: 0.5em;
}

.p-a-s{
  padding: 6px;
}
.p-a-m{
  padding: 12px;
}
.p-a-l{
  padding: 20px;
}

/* padding Top */
.p-t-s{
  padding-top: 6px;
}
.p-t-m{
  padding-top: 12px;
}
.p-t-l{
  padding-top: 20px;
}

/* padding Bottom */
.p-b-s{
  padding-bottom: 6px;
}
.p-b-m{
  padding-bottom: 12px;
}
.p-b-l{
  padding-bottom: 20px;
}

/* padding Left */
.p-l-s{
  padding-left: 6px;
}
.p-l-m{
  padding-left: 12px;
}
.p-l-l{
  padding-left: 20px;
}

/* padding Right */
.p-r-s{
  padding-right: 6px;
}
.p-r-m{
  padding-right: 12px;
}
.p-r-l{
  padding-right: 20px;
}

/* padding X */
.p-x-s{
  padding-right: 6px;
  padding-left: 6px;
}
.p-x-m{
  padding-right: 12px;
  padding-left: 12px;
}
.p-x-l{
  padding-right: 20px;
  padding-left: 20px;
}

/* padding Y */
.p-y-s{
  padding-top: 6px;
  padding-bottom: 6px;
}
.p-y-m{
  padding-top: 12px;
  padding-bottom: 12px;
}
.p-y-l{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* margin All */
.m-a-s{
  margin: 6px;
}

.m-a-m{
  margin: 12px;
}
.m-a-l{
  margin: 20px;
}

/* margin Top */
.m-t-s{
  margin-top: 6px;
}
.m-t-m{
  margin-top: 12px;
}
.m-t-l{
  margin-top: 20px;
}

/* margin Bottom */
.m-b-s{
  margin-bottom: 6px;
}
.m-b-m{
  margin-bottom: 12px;
}
.m-b-l{
  margin-bottom: 20px;
}

/* margin Left */
.m-l-s{
  margin-left: 6px;
}
.m-l-m{
  margin-left: 12px;
}
.m-l-l{
  margin-left: 20px;
}

/* margin Right */
.m-r-s{
  margin-right: 6px;
}
.m-r-m{
  margin-right: 12px;
}
.m-r-l{
  margin-right: 20px;
}

/* sizing */

.s-s{
  width: 250px;
}

/* Text identation */

/* Component identation */
.c-l{
  text-align: left;
}
.c-r{
  text-align: right;
}
.c-c{
  text-align: center;
  margin: auto;
}
.full-height{
  height: 100%;
}
.error{
  color: red;
}