@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
}
body{
    background-color: #ebebeb;
}
.navbar{
    height: 4rem;
    width: 95%;
    align-items: flex-start;
    margin: 1rem auto;
    background-color: #006174;
    border-radius: 11px;
}
.cards{
    display: inline-grid;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    column-gap: 6%;
    margin: 4rem auto;

}

.card{
    grid-row-start: 1;
    grid-row-end: 1;
    height: 151px;
    width: 325px;
    background-color: #006174;
    border-radius: 13px;
    border: solid black 1px;
}
.graph{
    background-color: #fff;
    height: 405px;
    width: 1144px;
    border: solid #006174 2px ;
    border-radius: 52px;
    margin: 1px auto;
    margin-bottom: 3em;
}
span{
    right: 0.2em;
    text-align: center;
    float: right;
    font-size: 4rem;
    bottom: 43.5px;
    font-weight: bolder;
    color: #fff;
    position: fixed;
    height: 69px;
    width: 69px;
    border-radius: 50%;
    background-color: #006174;
}
#divBusca{
    background-color:#fff;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }
  .navBody{
      width: 100%;
      display: inline;
  }
  .menu{
      float: left;
      margin-right: 3em;
      margin-left: 1em;
      width: 5%;
  }
h3{
    color: #fff;
    font-family: 'Aldrich';
    padding-top:1.2em;
    margin-right: 30%;
    float: left;
    width: 5%;
}
#divBusca{
    margin-top: 1em;
    height: 2em;
    float: left;
    width: 23%;
}
.user{
    margin: 0.4em 1em 0 0;
    float: right;
    width: 4%;
}
#btnBusca{
    border:none;
    float:right;
    width: 10%;
    font-weight:bold;
  }
  .verTodos{
      float: right;
      margin-right: 15px;
      margin-top: -7%;
      height: 2.2em;
      width: 10em;
      padding: 0.5em auto;
      border-radius:13px;
      border: solid 1px black;
      color: #006174;
      font-size: 12px;
      font-family: 'Poppins';
      font-weight: bolder;
  }
.cardTitle{
    margin-top:1em;
    font-family: 'Be Vietnam';
    margin-left: 1em;
    font-size: 14px;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 0;
}
.counter{
  color:#fff;
  margin-top:-25px;
  font-weight: lighter;
  margin-left: 25px;
  text-align: left;
  font-size: 100px;
  margin-right: 0;
  font-family: 'Be Vietnam';
}
.imgDesc{
    width: 0.5em;
    margin-left: -23px;
}