html{
    background-image: url('https://wallpaperaccess.com/full/413599.jpg');
    margin:0;
    padding:0;
}

#container{
    border: solid 4px #00003e;
    background-color: #fbfbfb2e;
    text-align: center;
    margin: 3% auto 5% auto;
    width: 40%;
    padding: 4%;
    border-radius: 6px;
}

input{
    color: #fff;
    width: 50%;
    height: 30px;
    text-align: center;
    font-family: monospace;
    border-radius: 6px;
    border-style: none;
    background-color: #00003e;
}
#logo{
    padding: 12px 20px;
    background: repeating-radial-gradient(#00000047, #010023fc 2px);
    display:flex;
    border-radius: 20px;
    margin: 4% auto 0 auto;
}
input#but{
    color: #00003e;
    height: 8%;
    width:50%;
    font-size: 200%;
    text-align:center;
    margin: 10% auto 0 auto;
    background-color: #ffffff8a;
    border: solid 3px #00003e;
    border-radius: 6px;
    transition: color 0.2s;
    transition: background-color 0.2s;
    transition-timing-function: ease-in-out;
}
#but:hover{
    color: #fff;
    background-color: #00003e;
}
body{
    margin: 0;
    overflow: hidden;

}
#container-right{
    height: 300%;
    background-color: #ffffff;
    text-align: center;
    margin: 500px 0 0 auto;
    width: 50%;
    float: right;
    padding: 120px 0;
}
ul,li{
    color: #fff;
     font-size: 25px;
    list-style: none;
    margin: 0;
    margin-bottom: 5px;
}
#check{
    float: right;
    margin: 0 0 0 auto;
}
#container-left{
    height: 200%;
    background-color: #00012f;
    text-align: justify;
    margin: 450px auto 0 0;
    width: 50%;
    float: left;
    padding: 300px 0;
}
#navbar{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #05001b;
}
#logomenor{
    margin: 15px 150px 0 auto;
    width: 200px;
    padding-left: 20px;
}